{% load static %}
<header class="container max-w-full flex items-center justify-between px-6 h-20 border-b border-gray-400">
    <a class="w-40" href="{% url "core:home" %}">
      <div class="w-full h-16 bg-cover bg-center" style="background-image:url({% static "img/Logo.jfif" %})"></div>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400   flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="{% url 'users:MentorList' %}">Mentor List</a>
      {% if user.is_authenticated %}
        <a class="mr-5 hover:text-gray-900" href="{% url 'wishlists:see-favs' %}">Favs</a>
        <a class="mr-5 hover:text-gray-900" href="{% url 'reservations:list' %}">reservation_list</a>
        {% if user.is_mentor == false %}
          <a class="mr-5 hover:text-gray-900" href="{% url 'users:Mentorsignup' %}">Mentorsignup</a>
        {% endif %}
        {% if user.is_superuser %}
          <a class="mr-5 hover:text-gray-900" href="{% url 'users:manage' %}">Mentor manage</a>
        {% endif %}
      {% endif %}
    </nav>
    <form method="get" action="" class="w-5/12">
        <input class="search-box border px-5 font-medium text-gray-900 placeholder-gray-600 py-3 rounded-sm w-full shadow-md hover:shadow-lg focus:outline-none" name="Mentors" placeholder="Search By Mentors" />
    </form>
    {% if user.is_authenticated %}
    <button type ="button" 
        onclick='location.href = "{% url "users:logout" %}"' 
        class="items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-center h-12 w-20 text-base mt-2 md:mt-0 ml-5">
        Logout
    </button>
    {% else %}
    <button type ="button" 
        onclick='location.href = "{% url "users:login" %}"' 
        class="items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-center h-12 w-20 text-base mt-2 md:mt-0 ml-5">
        Login
    </button>
    {% endif %}
</header>