{% extends "base.html" %}
{% load static %}
{% block page_title %}
{{user.name}}'s Profile
{% endblock page_title %}


{% block content %}
<div class="min-h-75vh">
    <h3 class="mb-12 mt-12 text-4xl text-center">Your Favorites</h3>
    <div class="container mx-auto pb-10">
        <div class="flex flex-wrap mx-25 mb-10">
            {% for Mentor in user.wishlist.mentors.all %}
            {% comment %} {% include 'mixins/mentor_card.html' with mentor=mentor.user %} {% endcomment %}
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-100 p-6 rounded-lg">
                 {% if Mentor.user.image  %}
                <img class="mx-auto h-40 rounded  object-cover object-center mb-6"
                        src="{{Mentor.user.image.url}}" alt="content">
                {% else %}                
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                      src="{% static 'img/no.png' %}" alt="content">
                {% endif %}
                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">#{{Mentor.main_branch}}&nbsp;#{{Mentor.sub_branch.get_name}}</h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><a href = "/users/Mentor/{{Mentor.pk}}/"><b>{{Mentor.user.name}}</b></a></h2>                    
                    <p class="w-full rhdqor leading-relaxed text-base">{{Mentor.career}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}