{% extends "base.html" %}

{% block page_title %}
    Update Review
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<form method="POST" class="w-full leading-loose max-w-xl m-4 p-10 bg-white rounded shadow-xl my-4 mx-auto"
    enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
    {% endif %}
    {% for field in form %}
    
        <div class="input w-full {% if field.errors %}has_error{% endif %}">
            <p>{{field.label}}</p>
            {{field}}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="text-red-700 font-medium text-sm">{{error}}</span>
            {% endfor %}
        {% endif %}
        </div>

    {% endfor %}
    <div class ="text-right">
    <button class="btn rounded-lg mt-4 h-10 bg-red-500 text-white">Change Review</button>
    <div>
</form>

{% endblock content %}
