{% extends 'base.html' %}
{% load static %}
{% block page_title %} Home {% endblock page_title %}
{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
  {% if searched%}
      {% if not mentors %}
      <h1>검색 결과가 없습니다</h1>
      {%else%}
      <h3>Searched Mentor</h3>

    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Mentors</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>      
    </div>         
      <div class="container mx-auto pb-10">
        <div class="flex flex-wrap mx-25 mb-10">
      {% for Mentor in mentors %}
        {% comment %} {% if Mentor.user.image %}
            <div class="flex flex-col h-32 w-32 bg-cover bg-center" style="background-image: url({{Mentor.user.image.url}})"></div>    
        {% endif %} {% endcomment %}
            {% comment %} {% include 'mixins/mentor_card.html' with mentor=mentor.user %} {% endcomment %}
            <div class="w-4/5 xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-100 p-6 rounded-lg text">
                {% if Mentor.user.image  %}
                <img class="mx-auto h-40 rounded  object-cover object-center mb-6"
                        src="{{Mentor.user.image.url}}" alt="content">
                {% else %}                
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                      src="{% static 'img/no.png' %}" alt="content">
                {% endif %}
                    
                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">#{{Mentor.main_branch}}&nbsp;#{{Mentor.sub_branch.get_name}}</h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><a href = "/users/Mentor/{{Mentor.pk}}"><b>{{Mentor.user.name}}</b></a></h2>                    
                    <p class="rhdqor w-full leading-relaxed text-base">{{Mentor.career}}</p>
                </div>
            </div>
        {% endfor %}
        {%endif%}
    {% else %}
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Mentors</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>      
    </div>      
    <div class="container mx-auto pb-10">
        <div class="flex flex-wrap mx-25 mb-10">   
    {% for Mentor in Mentors %} 
        {% comment %} {% if Mentor.user.image %}
            <div class="flex flex-col h-32 w-32 bg-cover bg-center" style="background-image: url({{Mentor.user.image.url}})"></div>    
        {% endif %} {% endcomment %}
            {% comment %} {% include 'mixins/mentor_card.html' with mentor=mentor.user %} {% endcomment %}
            <div class="w-4/5 xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-100 p-6 rounded-lg text">
                {% if Mentor.user.image  %}
                <img class="mx-auto h-40 rounded  object-cover object-center mb-6"
                        src="{{Mentor.user.image.url}}" alt="content">
                {% else %}                
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                      src="{% static 'img/no.png' %}" alt="content">
                {% endif %}
                    
                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">#{{Mentor.main_branch}}&nbsp;#{{Mentor.sub_branch.get_name}}</h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><a href = "/users/Mentor/{{Mentor.pk}}"><b>{{Mentor.user.name}}</b></a></h2>                    
                    <p class="rhdqor w-full leading-relaxed text-base">{{Mentor.career}}</p>
                </div>
            </div>
    {% endfor %}
    {% endif %}
    
  </div>
</section>

{% endblock content %}