{% extends "base.html" %}

{% block page_title %}
    Reservation {{reservatoin.check_in}}
{% endblock page_title %}
    
{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container mx-auto my-10 flex flex-col">       

        <div class="flex flex-col items-start border-l border-r border-t border-b">
            <div class="font-medium border-b py-8 px-5 w-full">
                {{reservation.check_in}} - {{reservation.check_out}} <span class="ml-5 {% if reservation.status == 'pending' %} text-yellow-500 {% elif reservation.status == 'canceled' %} text-red-600 {% else %} text-teal-600 {% endif %}">{{reservation.get_status_display}}</span>
            </div>

            <span class="text-2xl border-b p-5 mt-2 w-full">
                멘토 : {{reservation.mentor.user.name}} - 멘티 : {{reservation.user.name}}
            </span>

            <div class="flex p-5 border-b w-full">
                <div class="flex flex-col items-center">
                    {% include "mixins/user_avatar.html" with user=reservation.Mentor.user %}
                    <span class="mt-2 text-gray-500">{{reservation.Mentor.user.first_name}}</span>
                </div>
                <div class="ml-5 SAM">                    
                    <a href="{% url 'conversations:go' reservation.user.pk reservation.mentor.pk %}" class="leading-loose text-2xl font-medium text-teal-500">Send a Message</a>
                    <br>                
                    
                </div>
            </div>
            <div class="h-24 py-5 px-5 w-full text-right">
            {% if reservation.status == 'pending' %}
                {% if reservation.mentor.user == user %}
                    <a href="{% url 'reservations:edit' reservation.pk 'confirm' %}" class="SAM2 bg-green-500 btn-link p-5 text-white rounded-xl px-3 mb-5">Confirm Reservation</a>
                {% endif %}
                <a href="{% url 'reservations:edit' reservation.pk 'cancel' %}" class="SAM2 bg-red-500 btn-link p-5 text-white rounded-xl text-right">Cancel Reservation</a>
            {% endif %}
            </div>            
        </div>
        {% if request.user.is_mentor == False %}
        <div class="leading-loose max-w-xl m-4 p-10 bg-white rounded shadow-xl my-4 mx-auto">
            {% if reservation.status != 'canceled' %}
                {% if reservation.status == 'confirmed' %}                        
                    <span class="font-medium text-2xl text-center w-full block mb-5">Write your review</span>
                    <form action="{% url 'reviews:create' reservation.mentor.pk %}" method="POST" class="w-full mx-auto">
                        {% csrf_token %}
                        {{form}}
                        <div class ="text-center">
                            <button class="btn-link h-12 text-white w-32 mt-5 bg-green-500 rounded-lg">Submit Review</button>
                        </div>
                    </form>
                {% endif %}                            
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock content %}