{% extends "base.html" %}
{% block page_title %} {{request.user.name}} {% endblock page_title %}
{% block content %}
<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th,
  td {
    border: 1px solid #444444;
  }
</style>
{% if user.is_active%}
<button onclick=requestPay(100)>Mentors 100 포인트 결제하기</button><br>
{%else%}
<label>로그인이 필요한 서비스 입니다.</label>
{%endif%}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    var user_email = "{{user.email}}"
    var user_phone_number = "{{user.phone_number}}"
    var user_name = "{{user.name}}"
    var user_pk = "{{user.pk}}"
    var IMP = window.IMP; // 생략해도 괜찮습니다.

    IMP.init("imp09272616");
    function requestPay(value) {
        IMP.request_pay({
            pg: 'inicis', // version 1.1.0부터 지원.
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: `Mentors${value}원 결제`,
            amount: value,
            buyer_email: user_email,
            buyer_name: user_name,
            buyer_tel: `010-${user_phone_number.substring(2, 6)}-${user_phone_number.substring(6, 10)}`,
            //buyer_addr : '서울특별시 강남구 삼성동',
            //buyer_postcode : '123-456',
            //m_redirect_url : 'https://locallhost:8000/'
        }, function (rsp) {
            if (rsp.success) {
                $.ajax({
                    type: "POST", // 데이터를 전송하는 방법
                    url: 'http://localhost:8000/users/point/add/',//user의 urls.py 참조
                    data: { 'user_pk': user_pk, 'merchant_value': value, "merchant_name": `Mentors${value}원 결제`, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                    success: function (response) {
                        var msg = `${user_name}님 Mentors ${value}포인트 결제가 완료되었습니다.`
                        alert(msg)
                        location.reload()
                    },
                    error: function () {
                        alert("결제에 실패하였습니다.ajax에러발생")
                    }

                })
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
        });
    }
</script>
{{user}}님의 포인트 현황입니다
<br>현재포인트는 {{user.point}}점이며 사용내역은 다음과 같습니다.<br>
<table>
  <td>상태</td>
  <td>제품명</td>
  <td>일자</td>
  <td>금액</td>
</table>
{% for Point in request.user.Point_Record.all %}
<table>
  <td>{{Point.state}}</td>
  <td>{{Point.product_name}}</td>
  <td>{{Point.date}}</td>
  <td>{{Point.value}}</td>
</table>

{% endfor %}

{% endblock content %}