{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" action="{% url "users:signup" %}"> 
        {% csrf_token %}
        {{form.as_p}}
        <button id="Sign_up" type="submit"><i class="fa fa-search">회원가입</i></button>
    </form>
    <button id="sms_verfy" type="submit" onclick="sms_verfy()"><i class="fa fa-search">SMS로 전화번호 인증하기</i></button> 
    <button id="sms_check" type="submit" onclick="sms_check()"><i class="fa fa-search">인증번호 확인</i></button>
    <label id ="5mintimer"> </label> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        var auth_number //인증확인용 1000~9999의 4자리수 값 생성(전화번호 입력하고 sms_verfy 버튼눌러야만 인증번호 전송후 생성)
        var timeleft = 300; //남은시간 (기본 300초(5분))
        var fivemintimer_interval //5분타이머를 출력하는 SetInterval(winapi의 timer과 같은개념?)
        var btn_submit = document.getElementById('Sign_up'); 
        var btn_sms_check = document.getElementById('sms_check');
        var btn_sms_verfy = document.getElementById('sms_verfy'); 
        var input_phone_number = $('#id_phone_number'); //여기까지 는 위의 각 버튼들과 전화번호 입력폼을 js함수로 만듬
        btn_sms_check.disabled = 'disabled';
        btn_submit.disabled = 'disabled' //인증번호 확인하기 와 회원가입버튼은 기본적으로 클릭불가(인증번호 확인하기는 문자를 전송한뒤, 회원가입버튼은 문자인증에 성공한후 클릭가능)
        input_phone_number.val() = ""; //전화번호 입력폼이 False라고 자동입력되어있어서 초기화 따로해줌
        function sms_verfy(){
            let phone_number = $('#id_phone_number').val() //전화번호 입력값을 변수로 만들어서
            
            if(phone_number>1000000000){ //만약 전화번호를 Int로 변화하면 01012345678 -> 1012345678 로 변하기때문에 010으로 시작하는 총 11자리수가 맞는지 검출(만약 맨앞자리가 010이아니라 100이나 020으로 시작하면 노답...)
                $.ajax({
                    type: "POST", // 데이터를 전송하는 방법
                    url: 'sms_verfy/',//user의 urls.py 참조
                    data : {'phone_number':phone_number,'csrfmiddlewaretoken': '{{ csrf_token }}'}, //users/views.py의 ajax_sms_verfy function에 전화번호와 csrf인증을 전달함
                    success:function(response){ //성공적으로 ajax_sms_verfy function과 통신에 성공했다면,
                        alert("문자를 발송했습니다.") //이렇게 알림 띄워주고
                        auth_number = response.auth_number //인증번호 받아서 위의 auth number에 대입
                        btn_sms_check.disabled = false; //인증번호 확인 버튼 활성화
                        interverclear() //혹시나 타이머 돌아간다면 지워주고,
                        fivemintimer(); //다시 5분타이머 활성화

                    },
                    error:function(){
                        alert("문자 전송에 실패하였습니다..") //혹시 ajax_sms_verfy function과 ajax통신에 실패했다면...쉿팔 나한테 그럴일은없어!
                    }
                    
                })
            }
            else{
                alert("유효한 전화 번호를 입력해주세요") // 위의 if문의 예외처리
            }
        }
        function sms_check(){
            let get_auth_number = $('#id_auth_number').val() //유저가 입력한 SMS 인증번호
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법
                url: 'sms_check/', // users의 url.py 참조,users/views.py의 ajax_sms_check funcfion과 통신
                data : {'get_auth_number':get_auth_number,'auth_number':auth_number,'csrfmiddlewaretoken': '{{ csrf_token }}'}, //get_auth_number은 user가 입력한 인증번호, auth_number은 문자인증후 상단의 sms_verfy가 리턴한 인증번호,
                success:function(response){
                    if(response.result=="성공"){ //ajax_sms_check 에서 get_auth_number값이 일치하면 "성공",불일치하면 "실패"인데 이거 자바스크립트로 짜도되는데... 아니면 리턴값을 Bool로 주거나... ajax연습했다고 생각하자
                        alert(`문자인증에 ${response.result}하였습니다.`) //result를 굳이 "성공"이라고 했으니깐 써먹어보자
                        document.getElementById('id_phone_number').readOnly = true; //문자인증성공하고, 전화번호를 변경못하게 Read only로 변경!
                        document.getElementById('id_auth_number').val = "" //문자인증하고 인증번호 입력칸 초기화 
                        document.getElementById('id_auth_number').readOnly = true;// 문자인증성공했는데 인증번호를 입력할필요없으니깐 Read only로 변경
                        btn_sms_check.disabled = true; //문자전송버튼
                        btn_sms_verfy.disabled = true; //문자인증버튼 둘다 이제 쓸일없으니깐 비활성화
                        btn_submit.disabled = false; //회원가입하기 버튼 활성화
                        interverclear() //타이머 없애줌
                    }
                    else{
                        fail_sms_verfy() //아래 문자인증 실패 function 참조
                    }
                },
                error:function(){ //혹시 ajax실패했을까봐... ㅋㅋ 다시말하지만 javascript로 하면 이럴일이없다.
                    alert("문자 확인에 실패하였습니다....에러체크 필요") 
                    fail_sms_verfy()
                }
                
            })
        }
        
        function fivemintimer(){ //5분타이머 출력해주는 부분
            fivemintimer_interval = setInterval(function () { //let 변수만 사용했기때문에 fivemintimer_interval를 위에서 선언해주고, 여기서 정의해줌
                let min = parseInt(timeleft / 60) 
                let second = timeleft%60
                if(second<10){ //5:0 이아닌 5:00으로 보여주기위해서
                    second = "0"+second
                }
                let result = min + ':' + second;
                document.getElementById('5mintimer').innerHTML = result;
                timeleft --
                if(timeleft <= 0){
                    interverclear();
                    fail_sms_verfy();
                }
            }, 1000)
            
        }

        function fail_sms_verfy(){ //문자인증 실패했을때, setinterval을 클리어해주고, 알람, 전화번호와 인증번호입력칸을 초기화해주고 ReadOnly에서 다시 write 가능하게 해줌
            alert(`문자인증에 실패 하였습니다. 다시 시도해주세요`);
            interverclear()
            document.getElementById('id_phone_number').val() = "";
            document.getElementById('id_phone_number').val() = "";
            document.getElementById('id_phone_number').readOnly = false;
            document.getElementById('id_auth_number').readOnly = false;
            btn_sms_check.disabled = false;
            btn_sms_verfy.disabled = 'disabled';
            btn_submit.disabled = true;  //sms 보내기 버튼 과 인증하기 버튼 비활성화해준후, 다시 회원가입버튼은 입력불가(즉 초기상태로 변경)
            
        }

        function interverclear(){ //5분타이머 안의 내용지우고, setinterval 초기화
            clearInterval(fivemintimer_interval);
            document.getElementById('5mintimer').innerHTML = ""; 
            timeleft = 300;
        }
            
        
    </script>
{% endblock content %}